/* I wrote this CSS to make Discord integrate with
 * the Arc theme for Linux.
 * 
 * If you want to edit the colors of this theme
 * it should mostly be as easy as changing the
 * values in :root
 * 
 * Author: Tiamarth
 * 
 * - tiabusy@gmail.com
 * - https://github.com/Tiamarth
 * - Tiamarth#6729
 * - http://tiamarth.com/
 * 
 * CURRENT VERSION: 0.9
 * 
 * LICENSE: GNU General Public License v3.0 | https://github.com/Tiamarth/Arc-for-Discord/blob/master/LICENSE
 * 
 */

/* color palette */
:root {
    --panel: #353945;/* server sidebar */
    --sidebar: #383C4a;/* channel sidebar */
    --fg: #7a8b94;/* text */
        --fgDark: #d3dae3;/* text on dark theme */
        --fgDarkLowContrast: #767e83;/* low contrast text on dark theme */
    --bg: #f5f6f7;/* background */
        --bgDark: #404552;/* dark background */
        --bgDarker: #2d323d;/* even darker background */
    --accent: #5294e2;/* accent (blue stuff) */
        --accentFg: white;/* text on accents */
    --buttonHoverBg: #3f4654;/* background on buttons when hovered */
    --chatInputBg: #383C4a;/* background in chat input */
    --contextDark: #3f4654;/* context menu background on dark theme */
    --divider: #383C4a;/* dividers between messages in chat */
    --panelDivider: rgba(0,0,0,0.3);/* dividers between elements in panels */
    --toolbar: #353945;/* toolbar background */
    --time: 0.3s;/* time it takes animations to complete */
        --delay: 0.1s;/* time before animations begin once triggered */
}

/*
* {border: initial !important;box-shadow: initial !important;}
* {font-family: monospace !important;}
html,body,div,span,p {color: var(--fg);}
*/

a {color: var(--accent);}

/* server sidebar (panel) */
.guilds-wrapper {
    background-color: var(--panel);
    border: initial;
    box-shadow: initial;
}

.unread-mentions-indicator-top .unread-mentions-bar {box-shadow: initial;}

.guild-separator:after {background: var(--panelDivider) !important;}
.friends-icon {background-color: var(--accent);}
.guild.guilds-add {background-color: var(--bgDarker);}

/* channel sidebar */
.channels-3g2vYe {width: 210px;}
.scroller-fzNley {padding-top: 0 !important;}

.private-channels header {
    color: transparent;
    margin: -9px 0 -18px 0;
}

.private-channels header:after,
.private-channels header:before {
    position: absolute;
    right: 20%;
    left: 20%;
    height: 2px;
    background: var(--panelDivider);
    content: ' ';
}

.scroller-fzNley,
.channels-3g2vYe,
.container-iksrDt,
.container-2OU7Cz,
.container-3lnMWU,
.private-channels .search-bar {
    background-color: var(--sidebar);
    border: initial;
    box-shadow: initial;
}

.channel.btn-friends svg {color: var(--accent);}

.channel.btn-friends:hover svg,
.channel.btn-friends.selected svg {
    color: var(--accentFg);
}

.channel.btn-friends.selected a {background: transparent;}
.channel.selected,.channel.selected:hover,.channel.btn-friends.selected:hover {background: var(--accent);}
.channel:hover,.channel.btn-friends:hover {background: var(--buttonHoverBg);}

.channel:hover a,
.channel.selected a,
.channel.private:hover a,
.channel.selected:hover a,
.channel.selected.private a,
.channel.btn-friends:hover a,
.channel.selected.private:hover a {
    color: var(--accentFg);
    background: transparent;
}

.inner-ptMwR- .rtc-connection-status-connected {color: var(--accent);}
.inner-ptMwR- .rtc-connection-quality-fine .ping {filter: invert(40%);}

.username {color: var(--fgDark);}
.discriminator {color: var(--fgDarkLowContrast);}
.status-online {background: var(--accent);}

.iconButtonDefault-3QZh-A.iconButton-3mKjyp.button-1aU9q1.small-1ChI_f {filter: opacity(45%);}

.button-1aU9q1:hover,
.iconButtonDefault-3QZh-A.iconButton-3mKjyp.button-1aU9q1.small-1ChI_f:hover {
    background-color: var(--buttonHoverBg);
}

.button-1aU9q1 {filter: opacity(45%);}

/* friends list */
/* friends toolbar */


/* friends content */
.theme-dark #friends,.theme-dark .friends-table {background-color: var(--bgDark);}
.friends-column.friends-column-status {display: none;}
.theme-dark #friends .friends-table .friends-table-header {border-bottom-color: var(--divider);}

#friends .friends-table .friends-row {
    height: 45px !important;
    border: initial;
    box-shadow: initial;
}

#friends .friends-table .friends-column-name {width: auto;}
/*#friends .friends-table .friends-column-status {width: 30px;}*/
#friends .friends-table .friends-row .friends-column-status .status-text {display: none;}

#friends .friends-table .friends-row .friends-column+.friends-column {
    margin-left: -25px;
}

/* chat */
/* chat toolbar */
.titleWrapper-3Vi_wz,
.theme-dark .title-qAcLxz {
    background: var(--toolbar);
}

.theme-dark .title-qAcLxz {
    height: 40px;
    box-shadow: initial;
}

.theme-dark .channelName-1G03vu svg {display: none;}
.theme-dark .channelName-1G03vu {color: var(--fgDark);}

.title-qAcLxz .status {
    top: 1px;
    margin-left: 0;
}

.iconInactive-WWHQEI {
    padding: 5px;
    margin-right: 0;
    margin-left: 0;
    filter: opacity(45%);
}

.iconBadge-1FYlQB {background-color: var(--accent)}

.iconInactive-WWHQEI:hover {background-color: var(--buttonHoverBg);}

.search-2--6aU {margin: 0;}

.theme-dark .search .search-bar {
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
}

/* chat content */
.theme-dark .friends-table .messages .divider:not(.red) span,
.theme-dark .messages-wrapper .messages .divider:not(.red) span {
    color: var(--fgDarker);
}

.message-group:not(.has-divider),
.theme-dark .message-group:not(.has-divider),
.message-group.has-divider.hide-overflow.compact {
    margin: -9px 10px -3px 10px;
    border-bottom-color: transparent;
}

.chat .divider {
    margin-top: 10px;
    margin-bottom: 18px;
}

.message-group .comment .markup {margin-top: 1px;}

.theme-dark .friends-table .messages .divider span,
.theme-dark .friends-table .messages .divider:before,
.theme-dark .messages-wrapper .messages .divider span,
.theme-dark .messages-wrapper .messages .divider:before,
.theme-dark .messages-wrapper .messages .divider:not(.red) div {
    background-color: var(--divider) !important;
}

.theme-dark .chat,
.flex-spacer.flex-vertical,
.theme-dark .messages-wrapper,
.theme-dark .content.flex-spacer.flex-horizontal {
    background-color: var(--bgDark);
}

.message-group.compact .message {padding-bottom: 0.3px;}
.message-group.compact .timestamp {width: 70px;}

.timestamp,
.message-group.compact .message .timestamp,
.message-group.compact .message:hover .timestamp,
.message-group.compact .message:not(.first) .timestamp,
.system-message .system-message-content .system-message-timestamp {
    color: var(--fgDarkLowContrast) !important;
}

.timestamp:before,
.message-group.compact .message .timestamp:before,
.message-group.compact .message:hover .timestamp:before,
.message-group.compact .message:not(.first) .timestamp:before,
.system-message .system-message-content .system-message-timestamp:before {
    content: '[';
    color: var(--fgDarkLowContrast) !important;
}

.timestamp:after,
.message-group.compact .message .timestamp:after,
.message-group.compact .message:hover .timestamp:after,
.message-group.compact .message:not(.first) .timestamp:after,
.system-message .system-message-content .system-message-timestamp:after {
    content: ']';
    color: var(--fgDarkLowContrast) !important;
}

.message-group.compact .message .markup .user-name,
.theme-dark .message-group.compact .message .markup .user-name {
    color: var(--accent);
}

.message-group.compact .message .markup .user-name:after,
.theme-dark .message-group.compact .message .markup .user-name:after {
    content: ':';
}

.system-message .system-message-content a,
.system-message .system-message-content a:before,
.theme-dark .system-message .system-message-content a,
.theme-dark .system-message .system-message-content a:before {
    color: var(--accent);
}

.system-message {margin: 10px 10px;}

.system-message .system-message-icon {
    display: none;
    height: initial;
    margin: 0;
    top: 0;
}

.theme-dark .system-message .system-message-content,
.theme-dark .message-group.compact .message .message-text .markup .message-content {
    color: var(--fgDark);
}

.channelTextArea-os01xC {margin: 5px 0 5px -3px;}

.theme-dark .chat form {
    margin-top: 5px;
    background-color: var(--bgDark);
}

.theme-dark .inner-3if5cm {background-color: var(--chatInputBg);}

/* scrollbars */
::-webkit-scrollbar {
    width: 9px !important;
    height: 9px !important;
}

::-webkit-scrollbar-track {background-color: transparent !important;}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.35) !important;
    -webkit-border-radius: 20px !important;
}

::-webkit-scrollbar-thumb:hover {background: rgba(119,119,119,0.5) !important;}
::-webkit-scrollbar-thumb:active {background: var(--accent) !important;}

.scroller-wrap .scroller::-webkit-scrollbar-thumb,
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    border: none !important;
}

.friends-table .scroller-wrap ::-webkit-scrollbar-track-piece,
.messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background: transparent !important;
}

/* EVERYTHING IN THIS COMMENT IS OLD CODE THAT MOSTLY BREAKS IN RECENT VERSIONS OF DISCORD

a {color: var(--colorAccent);}

.tooltip {background-color: var(--colorAccent);}

* server panel *
.guilds-wrapper {background: var(--colorPanel);}

.friends-icon,.guild.selected:before {background-color: var(--colorAccent) !important;}

.guilds-wrapper .guilds-add {background: var(--colorSidebar);}

* inner panel (sidebar) *
.search-bar,
.container-iksrDt,
.scrollerWrap-2uBjct,
.guild-header header,
.scroller.guild-channels,
.private-channels .scroller,
.private-channels .search-bar {
    background: var(--colorSidebar);
}

.guild-header header {
    box-shadow: initial;
    border-bottom: 1px solid var(--colorPanel);
}

.guild-header header:after {display: none;}

.guild-header.popout-open,
.guild-header header:hover,
.guild-header header:active {
    color: var(--colorAccentFg);
    background: var(--colorAccent);
    transition: var(--transitTime);
    border-radius: 0px;
}

.icon-friends,.wrapperSelectedText-31jJa8 {background-color: var(--colorAccent) !important;}

.margin-reset svg {filter: brightness(100);}

.contentHoveredText-2HYGIY,
.contentSelectedText-3j5CXt,
.private-channels .channel:hover a,
.private-channels .channel.selected a {
    background-color: transparent
}

.nameHoveredText-2FFqiz {
    color: var(--colorAccentFg);
    transition: var(--transitTime);
    transition-duration: var(--transitDelay);
}

.channel.private:hover,
.channel.channel-text:hover,
.channel.channel-voice:hover,
.containerDefault-7RImuF:hover,
.channel.channel-text.selected,
.channel.channel-voice.selected,
.private-channels .channel.selected {
    color: var(--colorAccentFg);
    background: var(--colorAccent);
    transition: var(--transitTime);
    border-radius: 0px;
}

.guild-channels .channel-text .channel-name:before {color: var(--colorAccentFg) !important;}

.private-channels .channel:before,.guild-channels .channel-text:before {display: none;}

.account {border-top: 1px solid var(--colorPanel);}

.account .btn {
    background: #383C4A;
    border-right: 1px solid var(--colorPanel);
}

.account .btn-group {border: 1px solid var(--colorPanel);}

* .private-channels .scroller, *

* toolbar *
#friends .friends-header,.title-wrap {
    border-bottom: 1px solid var(--colorPanel) !important;
    background: var(--colorSidebar) !important;
}

.chat .title-wrap .title .channel-name,
.chat .title-wrap .title .channel-name:before {
    color: var(--colorFgDark);
}

.chat .title-wrap {
    border: initial;
    box-shadow: initial;
}

#friends .friends-header,
#friends .friends-header .tab-bar .tab-bar-item {
    color: var(--colorFgDark) !important;
}

.header-toolbar .separator.theme-light,
#friends .friends-header .tab-bar .tab-bar-separator {
    background-color: #666C78;
}

#friends .friends-header .tab-bar .tab-bar-item.selected,
#friends .friends-header .tab-bar .tab-bar-item.tab-bar-item-primary {
    background: var(--colorAccent) !important;
}

.search-bar input,
.search .search-bar,
.guild-header header,
.private-channels .search-bar,
.search-bar .search-bar-inner,
.search .DraftEditor-root .public-DraftEditorPlaceholder-root {
    color: var(--colorFgDarker) !important;
    background-color: var(--colorBgDarker) !important;
}

.theme-light .header-toolbar button span {filter: invert(100%) hue-rotate(130deg);}

.toolbar-badge {border: 1px solid rgba(0,0,0,0.3) !important;}

* chat region and such *
#friends,#friends .friends-table .friend-table-add-wrapper .friend-table-add-header,.flex-horizontal .flex-spacer,.chat form .typing {background: var(--colorBg) !important;}

#friends .friends-table .friends-row .friends-column-actions .friends-action,
#friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-voice-call {
    background-color: var(--colorAccent) !important;
}

.message-group .message .markup a,.mentioned .mention,.mentioned .mention:hover {color: var(--colorAccent);}

#friends .btn {
    color: var(--colorAccentFg) !important;
    background: var(--colorAccent) !important;
}

.message-group .comment .markup code.inline {
    font-family: Ubuntu Mono;
    font-size: 14px;
    padding: 2px 8px;
    border-radius: 0;
}

.markup code {
    color: var(--colorFg);
    font-family: Ubuntu Mono;
    background: white;
    border: solid 1px #e0e0e0;
}

.message-group .comment .markup pre {border: none;}

.theme-light .hljs {
    color: var(--colorFg);
    font-family: Ubuntu Mono;
    padding: 2px 8px;
}

.chat .user-name,.system-message .system-message-content a {color: var(--colorAccent) !important;}

* pop up dialogues *
.popout-menu .popout-menu-item {transition-delay: var(--transitDelay);}

.popout-menu .popout-menu-item:hover,.popout-menu .popout-menu-item.invite:hover {
    color: var(--colorAccentFg);
    background: var(--colorAccent);
    transition: var(--transitTime);
}

.messages-popout-wrap .messages-popout .message-group .action-buttons .jump-button {background: var(--colorAccent) !important;}

.themed-popout .header .subtitle, .theme-dark .themed-popout .text {color: var(--colorAccentFg) !important;}

.user-popout .footer {border: initial;}

.emoji-picker .header .search-bar {border: initial;}

.diversity-selector .popout .item:hover,
.emoji-picker .scroller .emoji-item.selected {
    background-color: var(--colorAccent);
}

.emoji-picker .categories .item.selected {border-bottom-color: var(--colorAccent);}

.emoji-picker .scroller .emoji-item.disabled {-webkit-filter: grayscale(0);}

.search-bar.search-bar-light input {background-color: transparent !important;}

* server member sidebar *
.channel-members {background: var(--colorSidebar) !important;}

.channel-members .member.popout-open,
.channel-members .member:hover {
    color: var(--colorAccentFg) !important;
    background: var(--colorAccent) !important;
    transition: var(--transitTime);
    border-radius: 0px;
}

.channel-members .member,
.channel-members .member.popout-open {
    transition-delay: var(--transitDelay);
}

.channel-members .member:hover .member-activity {color: var(--colorAccentFg);}

* online status *
.status-online {background: var(--colorAccent);}

.channel-members .avatar-small .status {border: 1px solid rgba(0,0,0,0.3) !important;}

* settings dialogue and such *
.ui-standard-sidebar-view .sidebar-region .scroller {background: var(--colorSidebar);}

.ui-tab-bar.SIDE .ui-tab-bar-item {
    margin-top: 0;
    margin-bottom: 0;
}

.ui-tab-bar.SIDE .ui-tab-bar-item.selected,
.ui-tab-bar.SIDE .ui-tab-bar-item:hover,
.ui-tab-bar.SIDE .ui-tab-bar-item:active {
    color: var(--colorAccentFg);
    background: var(--colorAccent);
    transition: var(--transitTime);
    border-radius: 0;
}

.ui-tab-bar.SIDE .ui-tab-bar-item {transition-delay: var(--transitDelay);}

.ui-tab-bar.SIDE .ui-tab-bar-item.brand {color: var(--colorAccent);}

.ui-tab-bar.SIDE .ui-tab-bar-item.brand:hover {color: var(--colorAccentFg);}

.buttonBrandFilled-3Mv0Ra,
.ui-slider .slider-bar-fill,
.ui-switch-checkbox:checked+.ui-switch,
.ui-card.ui-card-primary.flex-horizontal.margin-bottom-8.checked.editable {
    background: var(--colorAccent) !important;
}

* context menus *
.context-menu .item:hover,
.context-menu .item-subMenu:hover {
    color: var(--colorAccentFg) !important;
    background: var(--colorAccent) !important;
    transition: var(--transitTime) !important;
    border-radius: 0px;
}

.context-menu .item,
.context-menu .item-subMenu {
    transition-delay: var(--transitDelay);
}

.context-menu.theme-light .item-subMenu,
.context-menu.theme-dark .item-subMenu {
    background: url(/assets/e4afe52f6863408a35654a6e5fd69ba9.svg) 155px 50% no-repeat rgba(0,0,0,0) !important;
}

.context-menu.theme-light .item-subMenu:hover,
.context-menu.theme-dark .item-subMenu:hover {
    background: url(/assets/e4afe52f6863408a35654a6e5fd69ba9.svg) 155px 50% no-repeat #5294e2 !important;
}

* dark specific styles *
* chat region and such *
.theme-dark #friends,
.theme-dark .chat form,
.theme-dark .chat form .typing,
.theme-dark .flex-spacer.flex-vertical,
.theme-dark .ui-standard-sidebar-view .content-region,
.theme-dark .friends-table, .theme-dark .messages-wrapper,
.theme-dark #friends .friends-table .friend-table-add-wrapper .friend-table-add-header {
    background: var(--colorBgDark) !important;
}

.theme-dark #friends .friends-table .friends-row:hover {background: rgba(153,170,181,.2);}

.theme-dark .messages-wrapper .messages .divider span {background: #474E5B;}

.theme-dark .markup code {
    color: white;
    background: #2e3136;
    border: solid 1px black;
}

.theme-dark .hljs {
    color: white;
    padding: 2px 8px;
}

* pop up dialogues *
.theme-dark .popout-menu {background: var(--colorBgDark);}

.theme-dark .themed-popout {background: var(--colorBgDark);}

.theme-dark .themed-popout .header {background: var(--colorSidebar);}

.theme-dark .messages-popout-wrap .messages-popout .message-group {background: var(--colorSidebar);}

.theme-dark .user-popout .body,.theme-dark .user-popout .footer {background: var(--colorSidebar);}

.theme-dark .quick-message {
    color: var(--colorFgDark);
    background: var(--colorBgDarker);
    border: initial;
}

.theme-dark .popout-menu .popout-menu-separator {border-bottom-color: var(--colorSidebar);}

.theme-dark .user-popout .header {background: var(--colorPanel);}

.theme-dark .emoji-picker,.theme-dark .emoji-picker .sticky-header,.theme-dark .diversity-selector .popout {
    background: var(--colorContextDark);
    border: none;
}

.theme-dark .emoji-picker .premium-promo,.theme-dark .emoji-picker .dimmer.visible {background-color: hsla(229,12%,26%,.90);}

.theme-dark .search-bar.search-bar-light {border-bottom: none;}

.theme-dark .search-bar.search-bar-light .search-bar-inner {background: var(--colorBgDarker);}

* context menus *
.context-menu.theme-dark,
.theme-dark .context-menu,
.context-menu.theme-dark .context-menu {
    background: var(--colorContextDark);
    box-shadow: -1px 1px 5px var(--colorPanel);
    border: none;
}

.context-menu.theme-dark .item-subMenu,.theme-dark .search-bar.search-bar-light {background: var(--colorContextDark);}

*
.private-channels .channel,
.guild-channels .channel-text {
    transition-delay: 0.1s !important;
}
*
*/